{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<style>
    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.square {
    height: 41%;
    width: 44%;
}
#output{
color:red;
font-weight: bold;
}
#output_succ{
color:green;
font-weight: bold;
}
#curr_pswderr_output{
color:red;
font-weight: bold;
}
</style>
<aside class="col-md-4">



<div class="mb-3 border rounded bg-white profile-box text-center w-10">
<div class="align-items-center ">

{%if request.user.userimg.user_img%}
<img src="{{request.user.userimg.user_img.url}}" class="square " alt="Responsive image">

    {%elif request.user.gender == 'Male'%}
    <img src="{%static 'img-profile/maleavtr.png'%}" class="img-fluid rounded-circle" alt="Responsive image">
      {%elif request.user.gender == 'Female'%}
    <img src="{%static 'img-profile/img_avatar2femle.png'%}" class="img-fluid rounded-circle" alt="Responsive image">
    {%endif%}
<div class="p-4">





</div>

</div>
    {%if request.user.userimg.user_img%}
    <a href="{%url 'delete-proimg'%}"><button >RemoveProfilePic</button></a>
    {%else%}
    {%endif%}



<button id="myBtn">UploadNewPic</button>
<!--    <input id="photo" name="upload_file" type="file" class="form-control" id="upload_file" onchange="getImagePreview(event)" accept="image/png, image/jpeg">-->





</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>

    </div>
    <div class="modal-body">
       <div class="field" align="left">
  <h3>Upload profilePic</h3>
           <form enctype="multipart/form-data" method="post" action="{%url 'update_proimage'%}">
               {%csrf_token%}
  <input type="file" id="files" name="files" accept="image/x-png,image/gif,image/jpeg" required/>
           <button id="upload" type="submit">upload</button>
               </form>
</div>
<!--    <input type="file" name="upload_file" class="form-control" placeholder="Enter Name" id="upload_file" onchange="getImagePreview(event)">-->
    </div>



  </div>

</div>



<div class="border rounded bg-white mb-3">
<div class="box-title border-bottom p-3">
<h6 class="m-0">Social profiles</h6>
<p class="mb-0 mt-0 small">Add elsewhere links to your profile.
</p>
</div>

<div class="box-body">
    <form method="post" action="{%url 'usersocprofile'%}">
        {%csrf_token%}

<div class="p-3 border-bottom">
<div class="position-relative icon-form-control mb-2">
<i class="feather-instagram position-absolute text-warning"></i>
    {%if request.user.user_links.insta_link is None%}
    <input placeholder="Add Github link" type="url" class="form-control"  name="insta_link" >
    {%else%}
<input placeholder="Add Instagram link" name="insta_link" type="url" class="form-control" value="{{request.user.user_links.insta_link}}">
    {%endif%}
</div>
<div class="position-relative icon-form-control mb-2">
<i class="feather-facebook position-absolute text-primary"></i>
    {%if request.user.user_links.fb_link is None%}
    <input placeholder="Add Github link" type="url" class="form-control"  name="fb_link" >
    {%else%}
<input placeholder="Add Facebook link" name="fb_link" type="url" class="form-control" value="{{request.user.user_links.fb_link}}">
    {%endif%}
</div>

<div class="position-relative icon-form-control mb-2">
<i class="feather-youtube position-absolute text-danger"></i>
    {%if request.user.user_links.youtube_link is None%}
    <input placeholder="Add Youtube link" name="youtube_link" type="url" class="form-control" >
    {%else%}
<input placeholder="Add Youtube link" name="youtube_link" type="url" class="form-control" value="{{request.user.user_links.youtube_link}}">
    {%endif%}
</div>
<div class="position-relative icon-form-control mb-0">
<i class="feather-github position-absolute text-dark"></i>
       {%if request.user.user_links.git_link is None%}
    <input placeholder="Add Github link" type="url" class="form-control"  name="git_link" >
    {%else%}
<input placeholder="Add Github link" type="url" class="form-control"  name="git_link" value="{{request.user.user_links.git_link}}">
    {%endif%}
</div>
</div>
<div class="overflow-hidden text-center p-3">
<button class="font-weight-bold btn btn-light rounded p-3 d-block" type="submit"> Update Social Profiles </button>
</div>
        </form>
</div>

</div>
</aside>






<main class="col-md-8">
<div class="border rounded bg-white mb-3">
<div class="box-title border-bottom p-3">
<h6 class="m-0">Change Password</h6>
<p class="mb-0 mt-0 small">
</p>
</div>
    <form method="POST" id="form">

<div class="box-body p-3" id="basicdata">


             <div class="row">

     <div class="col-sm-6 mb-2">
         <div class="js-form-message">
             <label id="fieldid1" class="form-label">

             <label for="id_CurrentPassword">Current Password:</label>
 <span class="text-danger">*</span>
             </label>
        <input type="password" name="CurrentPassword" class=" form-control" placeholder="Enter Current Password" required id="id_CurrentPassword">
        <div id="curr_pswderr_output"></div>
         </div></div>

     <div class="col-sm-6 mb-2">
         <div class="js-form-message">
             <label id="fieldid2" class="form-label">

             <label for="id_NewPassword">New Password:</label>
 <span class="text-danger">*</span>
             </label>
        <input type="text" name="NewPassword" class="form-control" placeholder="Enter New Password" required id="id_NewPassword">

         </div></div>

     <div class="col-sm-6 mb-2">
         <div class="js-form-message">
             <label id="fieldid3" class="form-label">

             <label for="id_ConfrimNewPassword">Confirm New Password:</label>
 <span class="text-danger">*</span>
             </label>
        <input type="password" name="ConfrimNewPassword" class="form-control" placeholder="Retype New Password" required id="id_ConfrimNewPassword">

         </div></div>



</div>
    <div id="output_succ" ></div>
    <div id="output" ></div>
    <div class="mb-3 text-right">
<a class="font-weight-bold btn btn-link rounded p-3" href="/">Cancel </a>
<button class="font-weight-bold btn btn-primary rounded p-3"  type="submit" name="submit"> Sava Chenges</button>
</div>

</div></form>

</div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script>
         $('#form').on('submit', function(e){


         e.preventDefault();

           $.ajax({
                type : "POST",
                url: "{% url 'resetpassword' %}",
                data: {
                 CurrentPassword : $('#id_CurrentPassword').val(),
                 NewPassword : $('#id_NewPassword').val(),
                 ConfrimNewPassword: $('#id_ConfrimNewPassword').val(),
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },

                success: function(data){
                   if(data.curr_pwd_errr)
                   {
                    $('#curr_pswderr_output').html(data.msg)
                    $('#id_CurrentPassword').focus();

                   }
                   else if(data.error)
                   {
                   $('#output').html(data.msg)
                   $('#curr_pswderr_output').hide();
                   $('#id_NewPassword').focus();
                   $('#id_ConfrimNewPassword').focus();
                   }
                   else{
                   $('#curr_pswderr_output').hide();
                   $('#output_succ').html(data.msg)
                   $("#form")[0].reset();
                   $('#output').hide();
                   setTimeout(function() {
					$('#output_succ').fadeOut("slow");
				}, 2000 );
                   }



                },

                failure: function(data) {
                 $('#output').html(data.msg)

                }


            });


                 });
      </script>
{%endblock%}