<!DOCTYPE html>
{%load static%}
<html>
<head>
<title>signin-ebuddy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{%static 'css/signup_style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<!-- CSS only -->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>eBuddy-Signin</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form  method="post">
                    {%csrf_token%}
					{{form.as_table}}
					  <div>
            {%if errmsg1%}
            	 <p class="text-danger" style="color:red">{{errmsg1}}</p>
            {%elif errmsg%}
                <p class="text-danger" style="color:red">{{errmsg}}</p>
            {%endif%}
        </div>
					<input type="submit" value="SIGNIN">
				</form>
				<p>Don't have an Account? <a href="{%url 'signup'%}"> Signup Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
<!--			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>-->
		</div>

	</div>
	<!-- //main -->
</body>
</html>
